@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

.ui .chinese:not(.icon),
.chinese:not(.icon),
.chinese *:not(.icon) {
  font-family: 'Noto Sans SC', Lato, system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  font-optical-sizing: auto;
  font-style: normal;
}
